<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ofpptt01"
        android:label="ISTAM"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fastfood2"
        tools:targetApi="31">

        <activity
            android:name=".SplashscreensActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainPersonnel"
            android:exported="false"
            android:label="les information Personnel" />

        <activity
            android:name=".Home"
            android:exported="false" />

        <activity
            android:name=".listAdapter3"
            android:exported="false" />

        <activity
            android:name=".ListReglement"
            android:exported="false" />

        <activity
            android:name=".Home01Activity"
            android:exported="false" />

        <activity
            android:name=".nbabc"
            android:exported="false" />

        <activity
            android:name=".EmploiActivity"
            android:exported="false" />

        <activity
            android:name=".AdapterNote"
            android:exported="false" />

        <activity
            android:name=".listNote"
            android:exported="false"
            android:label="Les Notes" />

        <activity
            android:name=".ListModule"
            android:exported="false" />

        <activity
            android:name=".ListDisipline"
            android:exported="false"
            android:label="Liste de Discipline" />

        <activity
            android:name=".login"
            android:exported="false"
            android:label="LOGIN" />

    </application>

</manifest>