<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="ISTAM"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fastfood2"
        tools:targetApi="31">

        <activity
            android:name=".nbabc"
            android:exported="false" />
        <activity
            android:name=".EmploiActivity"
            android:exported="false" />
        <activity
            android:name=".AdapterNote"
            android:exported="false" />
        <activity
            android:name=".listNote"
            android:exported="false"
            android:label="Les Notes" />
        <activity
            android:name=".List_Notes"
            android:exported="false" />
        <activity
            android:name=".ListModule"
            android:exported="false" />
        <activity
            android:name=".Liste_Modules"
            android:exported="false" />
        <activity
            android:name=".ListDisipline"
            android:exported="false"
            android:label="Liste de Discipline" />
        <activity
            android:name=".Home"
            android:exported="false"/>
        <activity
            android:label="LOGIN"
            android:name=".login"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>